@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: green;
  --color-secondary: #1F2933;
  --color-base-200: #F3F3F3;
  --color-base-300: #E7E7E7;
  --color-accent: #706F6F;
  
}

.activeClass a.active {
  @apply btn btn-primary w-full ;
}

.footActive a.active {
  @apply text-primary
}



.bannerSwiper {
  width: 100%;
  height: 100%;
}

/* Pagination INSIDE image bottom */
.bannerSwiper .swiper-pagination {
  position: absolute;
  bottom: 18px !important;
  left: 0;
  width: 100%;
  z-index: 20;
}

/* Dots style */
.bannerSwiper .swiper-pagination-bullet {
  background: white;
  opacity: 0.6;
}

.bannerSwiper .swiper-pagination-bullet-active {
  background: #22c55e;
  opacity: 1;
}
