@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: green;
  --color-secondary: #D72050;
  --color-base-200: #F3F3F3;
  --color-base-300: #E7E7E7;
  --color-accent: #706F6F;
  
}

.navbarClass a.active {
  @apply text-primary
}